
a.card {
    color: inherit;
    text-decoration: none;
}

a.card:hover {
    box-shadow: 0 0 20px #ccc;
}

.register-locked {
    background-color: #ffc107;
    opacity: 0.5;
}

.register-card {
    text-align: left;
    padding-left: 1rem
}

.card-priority {
    position: absolute;
    right: 0.5rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #444;
    color: #eee;
}

.board {
    display: grid;
    row-gap: 1px;
    column-gap: 1px;
}

.field {
    background-color: #efefef;
    height: 60px;
    width: 60px;
    padding: 5px;
    position: relative;
}

.type-hole {
    background-color: #888;
}

.type-wall, .type-laser, .type-laser_2, .type-pusher {
    border-width: 5px;
    border-color: #bbbb04;
}

.field[class*="type-rotate"]::after,
.field[class*="type-laser"]::after,
div[class*="condition"]::after,
.field[class*="type-belt"]::after,
.field[class*="type-pusher"]::after,
.type-repair::after,
.type-repair_mod::after,
.type-flag::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.type-wall_d, .type-wall_ld, .type-wall_ldr, .type-wall_lud, .type-wall_urd, .type-wall_lurd, .type-wall_ud,
.type-wall_rd, .type-wall_d, .type-laser_u, .type-laser_2_u, .type-pusher_u {
    border-bottom-style: solid;
}

.type-wall_lu, .type-wall_lur, .type-wall_lud, .type-wall_urd, .type-wall_lurd, .type-wall_u, .type-wall_ur,
.type-wall_ud, .type-laser_d, .type-laser_2_d, .type-pusher_d {
    border-top-style: solid;
}

.type-wall_l, .type-wall_lu, .type-wall_lr, .type-wall_lr, .type-wall_ld, .type-wall_lur, .type-wall_ldr,
.type-wall_lud, .type-wall_lurd, .type-laser_r, .type-laser_2_r, .type-pusher_r {
    border-left-style: solid;
}

.type-wall_lr, .type-wall_lur, .type-wall_ldr, .type-wall_urd, .type-wall_lurd, .type-wall_ur, .type-wall_r,
.type-wall_rd, .type-laser_l, .type-laser_2_l, .type-pusher_l {
    border-right-style: solid;
}

.type-rotate_l::after {
    background-image: url("/assets/icons/rotate_left.png");
}

.type-rotate_r::after {
    background-image: url("/assets/icons/rotate_right.png");
}

.type-belt_l::after, .type-belt_u::after, .type-belt_d::after, .type-belt_r::after {
    background-image: url("/assets/icons/straight.png");
}

.type-belt_2_l::after, .type-belt_2_u::after, .type-belt_2_d::after, .type-belt_2_r::after {
    background-image: url("/assets/icons/straight_2.png");
}

.type-belt_lu::after, .type-belt_ru::after, .type-belt_dr::after, .type-belt_ul::after {
    background-image: url("/assets/icons/turn_right.png");
}

.type-belt_2_lu::after, .type-belt_2_ru::after, .type-belt_2_dr::after, .type-belt_2_ld::after, .type-belt_2_ul::after {
    background-image: url("/assets/icons/turn_2_right.png");
}

.type-belt_dl::after, .type-belt_ld::after, .type-belt_rd::after, .type-belt_ur::after {
    background-image: url("/assets/icons/turn_left.png");
}

.type-belt_2_dl::after, .type-belt_2_rd::after, .type-belt_2_ur::after {
    background-image: url("/assets/icons/turn_2_left.png");
}

.type-belt_lur::after, .type-belt_urd::after, .type-belt_dlu::after, .type-belt_rld::after {
    background-image: url("/assets/icons/merge_r.png");
}

.type-belt_2_lur::after, .type-belt_2_urd::after, .type-belt_2_dlu::after, .type-belt_2_rld::after {
    background-image: url("/assets/icons/merge_2_r.png");
}

.type-belt_lud::after, .type-belt_ulr::after, .type-belt_rud::after, .type-belt_dlr::after {
    background-image: url("/assets/icons/merge_lr.png");
}

.type-belt_2_lud::after, .type-belt_2_ulr::after, .type-belt_2_rud::after, .type-belt_2_dlr::after {
    background-image: url("/assets/icons/merge_2_lr.png");
}

.type-belt_lrd::after, .type-belt_uld::after, .type-belt_rlu::after, .type-belt_dur::after {
    background-image: url("/assets/icons/merge_l.png");
}

.type-belt_2_lrd::after, .type-belt_2_uld::after, .type-belt_2_rlu::after, .type-belt_2_dur::after {
    background-image: url("/assets/icons/merge_2_l.png");
}

.type-belt_lurd::after, .type-belt_ulrd::after, .type-belt_dlur::after, .type-belt_rlud::after {
    background-image: url("/assets/icons/merge_lrd.png");
}

.type-belt_2_lurd::after, .type-belt_2_ulrd::after, .type-belt_2_dlur::after, .type-belt_2_rlud::after {
    background-image: url("/assets/icons/merge_2_lrd.png");
}

.type-belt_l::after, .type-belt_lu::after, .type-belt_2_lu::after, .type-belt_ld::after, .type-belt_ul::after,
.type-belt_dl::after, .type-belt_lur::after, .type-belt_lud::after, .type-belt_lrd::after, .type-belt_lurd::after,
.type-belt_2_l::after, .type-belt_2_ul::after, .type-belt_2_dl::after, .type-belt_2_lur::after, .type-belt_2_lud::after,
.type-belt_2_lrd::after, .type-belt_2_lurd::after, .type-laser_r::after, .type-laser_2_r::after, .type-pusher_r::after {
    transform: rotate(-90deg);
}

.type-belt_r::after, .type-belt_dr::after, .type-belt_ur::after, .type-belt_rud::after, .type-belt_rlu::after,
.type-belt_rld::after, .type-belt_rlud::after, .type-belt_2_r::after, .type-belt_2_dr::after, .type-belt_2_ur::after,
.type-belt_2_rud::after, .type-belt_2_rlu::after, .type-belt_2_rld::after, .type-belt_2_rlud::after,
.type-laser_l::after, .type-laser_2_l::after, .type-pusher_l::after {
    transform: rotate(90deg);
}

.type-belt_d::after, .type-belt_rd::after, .type-belt_dlu::after, .type-belt_dur::after, .type-belt_dlur::after,
.type-belt_dlr::after,.type-belt_2_d::after, .type-belt_2_ld::after, .type-belt_2_rd::after, .type-belt_2_dlu::after,
.type-belt_2_dur::after, .type-belt_2_dlur::after, .type-belt_2_dlr::after, .type-laser_u::after,
.type-laser_2_u::after, .type-pusher_u::after {
    transform: rotate(180deg);
}

.field[class*="type-laser"]::after {
    background-image: url("/assets/icons/laser.png");
}

.field[class*="type-laser_2"]::after {
    background-image: url("/assets/icons/laser_2.png");
}

.field[class*="type-pusher"]::after {
    background-image: url("/assets/icons/pusher.png");
    background-position: center -10px;
}

div.condition-laser_h::after, div.condition-laser_v::after {
    background-image: url("/assets/icons/condition-laser.png");
}

div.condition-laser_2_h::after, div.condition-laser_2_v::after {
    background-image: url("/assets/icons/condition-laser_2.png");
}

div.condition-laser_h::after, div.condition-laser_2_h::after {
    transform: rotate(90deg);
}

.type-repair::after {
    content: "🔧";
}

.type-repair_mod::after {
    content: "🛠";
}

.type-flag::after {
    content: "🚩";
}

.robot {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.robot .model {
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
}

.robot .model.down::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: .8;
    background-color: #ffc107;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("/assets/icons/hourglass.png");
}

.robot div[class*="flag"]::after {
    top: 0;
    left: 0;
    position: absolute;
    font-size: 15px;
}

.robot .flag-1::after {
    content: "🚩";
}

.robot .flag-2::after {
    content: "🚩🚩";
}

.robot .flag-3::after {
    content: "🚩🚩🚩";
}

.robot .arrow::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
}

.icon-zippy {
    background-image: url("/assets/icons/zippy.png");
}

.icon-gerog {
    background-image: url("/assets/icons/gerog.png");
}

.icon-huzza {
    background-image: url("/assets/icons/huzza.png");
}

.icon-klaus {
    background-image: url("/assets/icons/klaus.png");
}

.facing-up {
    transform: rotate(180deg);
}

.facing-left {
    transform: rotate(90deg);
}

.facing-right {
    transform: rotate(-90deg);
}

.arrow-down::after {
    left: 10px;
    bottom: -7px;
    border-top: 10px solid #b0b0b0;
    border-right: 20px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 20px solid transparent;
}

.arrow-up::after {
    left: 10px;
    top: -7px;
    border-bottom: 10px solid #b0b0b0;
    border-right: 20px solid transparent;
    border-top: 0 solid transparent;
    border-left: 20px solid transparent;
}

.arrow-right::after {
    top: 10px;
    right: -7px;
    border-left: 10px solid #b0b0b0;
    border-top: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 20px solid transparent;
}

.arrow-left::after {
    top: 10px;
    left: -7px;
    border-right: 10px solid #b0b0b0;
    border-top: 20px solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 20px solid transparent;
}
