
a.card {
    color: inherit;
    text-decoration: none;
}

a.card:hover {
    box-shadow: 0 0 20px #ccc;
}

.register-locked {
    opacity: 0.5;
}

.register-card {
    text-align: left;
    padding-left: 1rem
}

.card-priority {
    position: absolute;
    right: 0.5rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #444;
    color: #eee;
}

.board {
    display: grid;
    row-gap: 1px;
    column-gap: 1px;
}

.field {
    background-color: #efefef;
    height: 60px;
    width: 60px;
    padding: 5px;
    position: relative;
}

.wall, .laser, .laser_2, .pusher {
    border-width: 5px;
    border-color: #bbbb04;
}

.field[class*="rotate"]::after,
.field[class*="laser"]::after,
.field[class*="belt"]::after,
.field[class*="pusher"]::after,
div[class*="overlay"]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.wall_d, .wall_ld, .wall_ldr, .wall_lud, .wall_urd, .wall_lurd, .wall_ud, .wall_rd, .wall_d, .laser_d, .laser_2_d, .pusher_d {
    border-bottom-style: solid;
}

.wall_lu, .wall_lur, .wall_lud, .wall_urd, .wall_lurd, .wall_u, .wall_ur, .wall_ud, .laser_u, .laser_2_u, .pusher_u {
    border-top-style: solid;
}

.wall_l, .wall_lu, .wall_lr, .wall_lr, .wall_ld, .wall_lur, .wall_ldr, .wall_lud, .wall_lurd, .laser_l, .laser_2_l, .pusher_l {
    border-left-style: solid;
}

.wall_lr, .wall_lur, .wall_ldr, .wall_urd, .wall_lurd, .wall_ur, .wall_r, .wall_rd, .laser_r, .laser_2_r, .pusher_r {
    border-right-style: solid;
}

.rotate_l::after {
    background-image: url("/assets/icons/rotate_left.png");
}

.rotate_r::after {
    background-image: url("/assets/icons/rotate_right.png");
}

.belt_l::after, .belt_u::after, .belt_d::after, .belt_r::after {
    background-image: url("/assets/icons/straight.png");
}

.belt_2_l::after, .belt_2_u::after, .belt_2_d::after, .belt_2_r::after {
    background-image: url("/assets/icons/straight_2.png");
}

.belt_lu::after, .belt_ru::after, .belt_dr::after, .belt_ul::after {
    background-image: url("/assets/icons/turn_right.png");
}

.belt_2_lu::after, .belt_2_ru::after, .belt_2_dr::after, .belt_2_ld::after, .belt_2_ul::after {
    background-image: url("/assets/icons/turn_2_right.png");
}

.belt_dl::after, .belt_ld::after, .belt_rd::after, .belt_ur::after {
    background-image: url("/assets/icons/turn_left.png");
}

.belt_2_dl::after, .belt_2_rd::after, .belt_2_ur::after {
    background-image: url("/assets/icons/turn_2_left.png");
}

.belt_lur::after, .belt_urd::after, .belt_dlu::after, .belt_rld::after {
    background-image: url("/assets/icons/merge_r.png");
}

.belt_2_lur::after, .belt_2_urd::after, .belt_2_dlu::after, .belt_2_rld::after {
    background-image: url("/assets/icons/merge_2_r.png");
}

.belt_lud::after, .belt_ulr::after, .belt_rud::after, .belt_dlr::after {
    background-image: url("/assets/icons/merge_lr.png");
}

.belt_2_lud::after, .belt_2_ulr::after, .belt_2_rud::after, .belt_2_dlr::after {
    background-image: url("/assets/icons/merge_2_lr.png");
}

.belt_lrd::after, .belt_uld::after, .belt_rlu::after, .belt_dur::after {
    background-image: url("/assets/icons/merge_l.png");
}

.belt_2_lrd::after, .belt_2_uld::after, .belt_2_rlu::after, .belt_2_dur::after {
    background-image: url("/assets/icons/merge_2_l.png");
}

.belt_lurd::after, .belt_ulrd::after, .belt_dlur::after, .belt_rlud::after {
    background-image: url("/assets/icons/merge_lrd.png");
}

.belt_2_lurd::after, .belt_2_ulrd::after, .belt_2_dlur::after, .belt_2_rlud::after {
    background-image: url("/assets/icons/merge_2_lrd.png");
}

.belt_l::after, .belt_lu::after, .belt_2_lu::after, .belt_ld::after, .belt_ul::after,
.belt_dl::after, .belt_lur::after, .belt_lud::after, .belt_lrd::after, .belt_lurd::after,
.belt_2_l::after, .belt_2_ul::after, .belt_2_dl::after, .belt_2_lur::after, .belt_2_lud::after,
.belt_2_lrd::after, .belt_2_lurd::after, .laser_l::after, .laser_2_l::after, .pusher_l::after {
    transform: rotate(-90deg);
}

.belt_r::after, .belt_dr::after, .belt_ur::after, .belt_rud::after, .belt_rlu::after,
.belt_rld::after, .belt_rlud::after, .belt_2_r::after, .belt_2_dr::after, .belt_2_ur::after,
.belt_2_rud::after, .belt_2_rlu::after, .belt_2_rld::after, .belt_2_rlud::after,
.laser_r::after, .laser_2_r::after, .pusher_r::after {
    transform: rotate(90deg);
}

.belt_d::after, .belt_rd::after, .belt_dlu::after, .belt_dur::after, .belt_dlur::after,
.belt_dlr::after,.belt_2_d::after, .belt_2_ld::after, .belt_2_rd::after, .belt_2_dlu::after,
.belt_2_dur::after, .belt_2_dlur::after, .belt_2_dlr::after, .laser_d::after,
.laser_2_d::after, .pusher_d::after {
    transform: rotate(180deg);
}

.field[class*="laser"]::after {
    background-image: url("/assets/icons/laser.png");
}

.field[class*="laser_2"]::after {
    background-image: url("/assets/icons/laser_2.png");
}

.field[class*="pusher"]::after {
    background-image: url("/assets/icons/pusher.png");
    background-position: center -10px;
}

div.overlay-laser_h::after, div.overlay-laser_v::after {
    background-image: url("/assets/icons/overlay-laser.png");
}

div.overlay-robot_laser_h::after, div.overlay-robot_laser_v::after {
    background-image: url("/assets/icons/overlay-robot_laser.png");
}

div.overlay-laser_2_h::after, div.overlay-laser_2_v::after {
    background-image: url("/assets/icons/overlay-laser_2.png");
}

div.overlay-laser_h::after, div.overlay-laser_2_h::after,
div.overlay-robot_laser_h::after, div.overlay-robot_laser_2_h::after {
    transform: rotate(90deg);
}

div.overlay-hole::after {
    content: "⚫";
}

div.overlay-repair::after {
    content: "🔧";
}

div.overlay-repair_mod::after {
    content: "🛠";
}

div.overlay-flag_1::after {
    content: "🚩1";
}

div.overlay-flag_2::after {
    content: "🚩2";
}

div.overlay-flag_3::after {
    content: "🚩3";
}

div.overlay-flag_4::after {
    content: "🚩4";
}

div.overlay-flag_5::after {
    content: "🚩5";
}

div.overlay-flag_6::after {
    content: "🚩6";
}

div.overlay-flag_7::after {
    content: "🚩7";
}

div.overlay-flag_8::after {
    content: "🚩8";
}

div.overlay-start_1::after {
    content: "🚦1";
}

div.overlay-start_2::after {
    content: "🚦2";
}

div.overlay-start_3::after {
    content: "🚦3";
}

div.overlay-start_4::after {
    content: "🚦4";
}

div.overlay-start_5::after {
    content: "🚦5";
}

div.overlay-start_6::after {
    content: "🚦6";
}

div.overlay-start_7::after {
    content: "🚦7";
}

div.overlay-start_8::after {
    content: "🚦8";
}

.robot {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.robot .model {
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
}

.robot .model.down::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    opacity: .8;
    background-color: #ffc107;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("/assets/icons/hourglass.png");
}

.robot div[class*="flag"]::after {
    top: 0;
    left: 0;
    position: absolute;
    font-size: 15px;
}

.robot .flag-1::after {
    content: "🚩";
}

.robot .flag-2::after {
    content: "🚩🚩";
}

.robot .flag-3::after {
    content: "🚩🚩🚩";
}

.robot .arrow::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
}

.icon-zippy {
    background-image: url("/assets/icons/zippy.png");
}

.icon-gerog {
    background-image: url("/assets/icons/gerog.png");
}

.icon-huzza {
    background-image: url("/assets/icons/huzza.png");
}

.icon-klaus {
    background-image: url("/assets/icons/klaus.png");
}

.facing-up {
    transform: rotate(180deg);
}

.facing-left {
    transform: rotate(90deg);
}

.facing-right {
    transform: rotate(-90deg);
}

.arrow-down::after {
    left: 10px;
    bottom: -7px;
    border-top: 10px solid #b0b0b0;
    border-right: 20px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 20px solid transparent;
}

.arrow-up::after {
    left: 10px;
    top: -7px;
    border-bottom: 10px solid #b0b0b0;
    border-right: 20px solid transparent;
    border-top: 0 solid transparent;
    border-left: 20px solid transparent;
}

.arrow-right::after {
    top: 10px;
    right: -7px;
    border-left: 10px solid #b0b0b0;
    border-top: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 20px solid transparent;
}

.arrow-left::after {
    top: 10px;
    left: -7px;
    border-right: 10px solid #b0b0b0;
    border-top: 20px solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 20px solid transparent;
}
