
.field {
    background-color: #efefef;
}

.movement-card {
    cursor: pointer;
}

.movement-card.selected {
    box-shadow: 4px 4px 12px #aaa;
}

.movement-card.selected .card-body {
    background-color: #eefdf6;
    border-color: #1e8e62;
}

.card-priority {
    position: absolute;
    right: 1rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #444;
    color: #eee;
}
